Package: nfs-lan
Version: 1.0
Architecture: all
Maintainer: Sevka Kovalchuk <sevka@ukr.net>
Installed-Size: 12000
Depends: python,python-gtk2,nautilus,python-nautilus,nfs-kernel-server,nfs-common,portmap,autofs,avahi-daemon,avahi-utils
Conflicts: nfs-share
Homepage: http://nfs-lan.sevka.info
Description: Easy NFS sharing and browsing
 NFS LAN allows to share folders through NFS by context menu in Nautilus and browse NFS shares in Nautilus.
 Make shure you setup autofs correctly. Please edit file /etc/auto.master. You have to add or uncomment following line:
  /net	-hosts	--timeout=60
 and then restart autofs:
  sudo service autofs restart
 Now you can find NFS shares in your /net folder. Press 'Refresh' button to refresh computer list. Only computer with avahi-daemon appear automaticly.
 After installing please restart Nautilus with command "nautilus -q;pkill nautilus"
